.footer {
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    margin: -7px 24px;
    font-family: "Outfit", sans-serif;

  }
  .avatar {
    width: 33px;
    height: 33px;
    margin-right: 15px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
  .creation {
    font-size: 16px;
    color:  #8bacd9;
    margin-right: 5px;
  }
  .text_hover {
   color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .text_hover:hover{
    color: #00fff8;
    
  }